<style>
    .topnav {
        overflow: hidden;
        background-color: #8e44ad;
    }

    .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2ecc71;
        color: black;
    }

    .topnav .icon {
        display: none;
    }

    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
            }

        .topnav a.icon {
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    /* Modal Box for Requests */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
  
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
  
    .close {
        margin-top: -10px;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /*Custom styles*/
    .form-button {
        background-color: transparent;
        padding: 14px 0px;
        margin: 0px 10px;
        text-decoration: none;
        font-size: 15px;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #logout-form, #logoutAll-form {
        /* display: inline-block; */
        float: right;
    }
</style>
<header>
    <div class="topnav" id="myTopnav">
        <a href="/dashboard-user" class="active">{{userName}}</a>
        <a href='/myLocation'>Discover Nearby</a>
        <a id="myBtn" style="cursor: pointer;">Requests</a>
        <form id="logoutAll-form" action="/logoutAll-user" method="POST"><button class='form-button'>Logout All</button></form>
        <form id="logout-form" action="/logout-user" method="POST"><button class='form-button'>Logout</button></form>
        {{!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a> --}}
    </div>
</header>