<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderer</title>
</head>
<body>
    <h1>From create Location</h1>
    <button id="detect-location">Detect My Location</button>
    <p>Your Location</p>
    <p id="position"></p>
    <form id="search-people-form" action="/find-nearby" method="POST"><button id="search-people">Search Nearby People</button></form>
    <script src="/js/location.js"></script>
</body>
</html>