<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create-user.css">
    <link rel="icon" href="css/chat/img/favicon.png">
    <title>Wanderer | Signup</title>
</head>
<body>
    <div class = "container">
            <div class="signup-form">
                <h1>Wanderer</h1>
                <h3>Sign Up</h3>
                <p>Fill credentials to create account</p>
                <br/>
                <form id="create-user-form" method="POST" action="/create-user">
                    <div class="form-group"><input type="text" class="form-control" name="userName" placeholder="Username" required><br></div>
                    <div class="form-group"><input type="text" class="form-control" name="name" placeholder="Full Name" required><br></div>
                    <div class="form-group"><input type="email" class="form-control" name="email" placeholder="Email" required><br></div>
                    <div class="form-group"><input type="password" class="form-control" name="password" placeholder="Password" required><br></div>
                    <div class="form-group"><input type="number" class="form-control" min="13" max="40" name="age" placeholder="Age" required><br></div>
                    <button class="btn btn-primary">Register</button>
                </form>
                <br>
                <p id='login-p'>Already Registered ? <a id='login-link' href="/login-user"> Log In</a></p>
            </div>
    </div>
    {{>footer}}
</body>
</html>