/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap'); */
@font-face {
    font-family: DM Sans;
    src: url('../fonts/DMSansMedium.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: DM Sans;
    font-size: larger;
    /* text-align: center; */
}

.container {
    min-height: 89vh;
}

img {
    border-radius: 50%;
    border: 1px #999999 solid;
}

h1 {
    padding-left: 10vw;
    margin-bottom: 40px;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

#file-upload {
    width: 91px;
}

#avatar {
    padding-right: 30px;
}

#delete-avatar {
    margin-top: 10px;
    margin-right: 77.5px;
    background-color: tomato;
    border: 2px tomato solid;
    padding: 5px 7px;
    color: white;
    border-radius: 50%;
    opacity: 0.5;
    cursor: not-allowed;
}