@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: larger;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.container {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: 'DM Sans', sans-serif;
    width: 200px;
    padding: 4px;
    margin: 2px;
    outline: none;
    border: none;
    border-bottom: 1.5px #8e44ad solid;
    transition: 0.1s;
}

input:focus {
    border-bottom: 1.5px #2ecc71 solid;
}

button {
    font-size: 15px;
    padding: 3px 8px;
    margin-top: 20px;
    /* margin-left: 2px; */
    color: white;
    background-color: #2ecc71;
    border: 2px #2ecc71 solid;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

#signup-p {
    font-size: 16px;
}

#signup-link {
    padding: 3px 8px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.2s;
}


#signup-link:hover {
    background-color: orange;
}